nav
	div.nav-title
		h2 文书可视化
	ul.catalog
		li(data-wsfilename="#{wsfilename}")  
			<i class="fa fa-file-text-o" aria-hidden="true"></i> #{writ.QW.nameCN}
		- var catalog1 = Object.keys(writ.QW);
		- var itemNum = catalog1.length>=9 ? 9 : catalog1.length;
		- var icons = ['fa-sort-amount-asc','fa-users','fa-sticky-note-o','fa-book','fa-comments-o','fa-gavel','fa-sort-amount-asc fa-flip-vertical'];
		- for(let i = 2;i<itemNum;i++){
			li 
				a(id="#{catalog1[i]}" href="javascript:void(0)") 
					<i class="fa #{icons[i-2]}" aria-hidden="true"></i> #{writ.QW[catalog1[i]].nameCN}
		- }
		li
			a(id="examine" href="javascript:void(0)")
				<i class="fa fa-pie-chart" aria-hidden="true"></i> 评查结果